.input-item-auth
{
  padding: 14px;
  min-width: 320px;
}
.register-container
{
  padding: 10px;
  margin-top: 50px;
  box-shadow:  1px 1px 9px 0px rgba(0, 0, 0, 0.214), 1px 3px 3px 0px rgba(0, 0, 0, 0.212);
  max-width: 500px;
}
.form_auth
{

  display: inline-block;
}
.form_auth_r
{
  justify-content: center;
  display: flex;
}
.error-message
{
  color:#f44336;
}