:root {
    --main_color: #bb252e ;
    
  }

/*start home style*/
.header
{
  z-index: 4;
}
.home-image
{
    position: relative;
    text-align: left;
    padding: 86px 0px;
    top: 120px;
    right: 0px;
    width: 100%;
    z-index: 0;
    min-height: 530px;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
}
.home-button-main
{
  margin: 30px 60px;
}
.home-text-main
{
  width: 50%;
}
.carousel-item,
.carousel-inner,
.carousel-img,
.carousel
{
  height: 612px;
  
}

.carousel-img
{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
}
@media only screen and (max-width: 689px) {
  .home-text-main{
    padding:20px;
    width: 100%;
  }
  .home-button-main{
    margin:20px;
  }
  .home-image{
    background-position:left;
  }

}
.carousel-indicators .active
{
  background-color: var(--main_color);
}
.carousel-indicators [data-bs-target] 
{
  width: 18px;
  height: 18px;
  border-radius: 9px;
  border: oldlace;
}
/*end home style*/

/*start basket style*/
.table-c-img
{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.order-main-div
{
  box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.214), 0px 1px 3px 0px rgba(0, 0, 0, 0.212);
  border-radius: 12px;
  width: 100%;
  padding: 25px;
  text-align: start;
}
.t-a-c
{
  text-align: center;
}
.t-a-s
{
  text-align: start;
}
.t-a-e
{
  text-align: end;
}
.p-10
{
  padding: 10px;
}
.order-line
{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 5px;
}

/*end basket style*/

/*start profile style*/
.profile {
  min-height: 100vh;
}
.profile .top,
.profile .left,
.profile .right {
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 33%);
}
.profile .image img {
  border-radius: 50%;
}
.profile .bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
@media (max-width: 767px){
  .profile{
      padding: 30px 0px;
  }
  .profile .bottom {
      display: block;
  }
  .profile .buttons{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .profile .bottom .left,
  .profile .bottom .right {
      margin: 10px 0px;
      
  }
}
@media (max-width: 575px) {
  .container{
      text-align: center;
  }
  .profile .top {
      display: block;
      text-align: center;
  }
  .profile .top .info {
      display: block;
  }
  .profile .top .name-email {
      margin: 20px 0px;
  }
  .profile .top .edit {
      display: block;
      margin: 35px auto 10px;
  }
}
.profile .right .link {
  margin: 15px 0px;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 20px;
  color: var(--main-color);
  text-align: center;
}
.profile .messages {
  text-align: center;
  box-shadow: 0 0 10px rgb(0, 0, 0, 33%);
}
.profile table {
  width: 70%;
  box-shadow: 0 0 1px rgb(0, 0, 0, 33%);
}
.profile table td {
  display: inline-block;
  padding: 30px;
  width: 50%;
}
.profile table th td:nth-child(1) {
  border-right: 1px solid #ccc;
}
.profile table tbody td:nth-child(1) {
  border-right: 1px solid #ccc;
}
.profile table th{
  color: white;
  background-color: var(--main_color);
}
/*end profile style*/
/* Start ProductInfo */
.productInfo {
  background-color: var(--main-bgColor);
}
.productInfo .box {

  box-shadow: 0 0 10px rgb(0, 0, 0, 33%);
  max-width: 700px;
}
.productInfo .field .input {
  outline: none;
  border: none;

}
.productInfo .field .input::placeholder {

  font-size: small;
}
.productInfo .field .input:placeholder-shown + .label{
  opacity: 0;
  top: 0px;
}
.productInfo .field .label {
  position: absolute;
  left: 7px;
  top: -24px;
  padding: 0px 2px;
  font-size: small;
  transition-duration: 0.3s;
}
.info .love {
  width: 40px;
  height: 40px;
}
.info .showLoves{
  cursor: pointer;
  box-shadow: 0px 0px 3px rgb(0, 0, 0, 40%);
}
.numberLove {
  color: var(--main-color);
}
.font_larg
{
  font-size: 22px;
  font-family: monospace;
  font-weight: bold;
}
/* End ProductInfo */























/*test*/
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* GENERAL FONT */
    --font1: "Titillium Web", sans-serif;
    --font2: 'Roboto', sans-serif;
    /* GENERAL COLOR */
    --bg-col-1: #0059b3;
    --bg-col-2: #dc3545;
    --bg-col-3: #fff;
    --bg-col-4: #024c96;
    --tx-color-1: #fff;
    --tx-color-2: #000;
    --tx-color-3: #0059b3;
   


    --tx-slider-section-title: #212529;
    --bg-slider-section: rgb(250, 250, 250);

    --bg-slider-card-4: #fff;
    --tx-slider-card-4: #0059b3;



    --tx-button: #fff;
    --bg-button: #0059b3;
}
/*start dark mode css*/
.dark-mode {
    /* GENERAL COLOR */
    --bg-col-1: #121212;
    --tx-color-1: #fff;
    --tx-button: #fff;
    --bg-button: #272727;
    --bg-button-border: #272727;
    --bg-button-hover: #fff;
    --tx-button-hover: #272727;
    --bg-button-focus: #0f0f0f40;
    
    --tx-slider-section-title: #ffffff;
    --bg-slider-section: #121212;
    --bg-slider-card-4: #272727;
    --tx-slider-card-4: #fff;
}
/* end dark mode css */

.btn-archive {
    color: var(--tx-button);
    background: var(--bg-button);
    border-color: var(--bg-button-border);

    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;

    &:hover {
        color: var(--tx-button-hover);
        background-color: var(--bg-button-hover);
        border-color: var(--bg-button-hover);
    }

    &:focus {
        -webkit-box-shadow: 0 0 0 0.25rem var(--bg-button-focus);
        box-shadow: 0 0 0 0.25rem var(--bg-button-focus);
    }




}
.custom-slider {
    font-family: var(--font1);
    background: var(--bg-slider-section);
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;

    .title-section {
        font-weight: 700;
        text-transform: uppercase;
        color: var(--tx-slider-section-title);
    }

    .swiper-container {
        .card.box-4 {
            background: var(--bg-slider-card-4);
            color: var(--tx-slider-card-4);


            .card-header {
                background: var(--bg-slider-card-4);
                color: var(--tx-slider-card-4);
                border-bottom: 0;

                .fa-map-marker-alt {
                    color: var(--tx-slider-card-4);

                    &.grow {
                        transition: all .2s ease-in-out;

                        &:hover {
                            transform: scale(1.5);
                        }
                    }
                }
            }

            .attached {
                font-weight: 300;
                font-size: .8rem;
            }


            .card-title {
                line-height: 35px;
                color: var(--tx-slider-card-4);

                .day {
                    font-weight: 600;
                    font-size: 3.5rem;

                }

                .month {
                    font-size: 1.5rem;

                    font-weight: 300;

                }
            }
        }

        .card.box-5 {
            background: var(--bg-col-2);
            color: var(--tx-color-1);

            .card-header {
                background: var(--bg-col-1);
                border-bottom: 0;
            }



            .attached {
                font-weight: 300;
                font-size: .8rem;

                .link {
                    color: var(--tx-color-1);

                    &:hover {
                        text-decoration: none;
                    }
                }


            }

            .card-title {
                line-height: 35px;


                .day {
                    font-weight: 600;
                    font-size: 3.5rem;
                    color: var(--tx-color-1);
                }

                .cal-y {
                    display: grid;
                    line-height: 21px;

                    .month {
                        font-size: 1.5rem;
                        color: var(--tx-color-1);
                        font-weight: 300;

                    }

                    .year {
                        font-size: 1.2rem;
                        color: var(--tx-color-1);
                        font-weight: 700;

                    }
                }

            }

            .card-footer {
                background: var(--bg-col-2);


                .fa-map-marker-alt {
                    color: var(--tx-color-1);

                    &.grow {
                        transition: all .2s ease-in-out;

                        &:hover {
                            transform: scale(1.5);
                        }
                    }
                }
            }
        }
    }
}