:root {
  --main_color: #bb252e ;
  
}

.App {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-align: center;
  min-height: 500px;
}

.dark
{
  background-color: #222 ;
  color: #fffdfd;
}

.light
{
  background-color: #fffdfd ;
  color: #222;
}
.main-color
{
  color: var(--main_color);
}
.pt_50{
  padding-top: 50px;
}